body{
	padding-top: 60px;
	min-height: 600px;
	background-color: #EEEEFF;
	font-size: normal;
}

.footer{
	text-align: center;	
}

.webicons{
	margin:auto;
}

a {
	color: #354b5e ;
	/*color: #D74B4B ; */
}

a:hover {
	color: #C63A3A ;
 }

i:hover{
	text-decoration: none;
}

.navbar {
    z-index: 1000;
    min-height: 40px;
    margin-bottom: 18px;
    border: 1px solid transparent;
}

.jumbotron{
    min-height: 700px;
    background-color:#ffffff;
    vertical-align: middle;
}

.picture{
    text-align: center;
    border-style:solid;
    border-width:3px;
}

.page-header{
	background-color: transparent;
}

.projects{
	min-height: 600px;
}

.navbar-default{

	background-color:#222222;
	/*background-color:#354B5E;*/
	border-bottom:thick solid #354B5E;
	/*border-color:#475F77;*/

}
.navbar-default .navbar-brand{
	color:#fff
}
.navbar-default .navbar-brand:hover,.navbar-default 
.navbar-brand:focus{
	 color:#DCDDD8;
	/*background-color:#243A4D;*/


}
.navbar-default .navbar-text{color:#fff}
.navbar-default .navbar-nav>li>a{
	color:#DCDDD8
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
	color:#fff;
	background-color: #354B5E; 	/* D74B4B */
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
	color:#fff;background-color:#475F77
}
.navbar-default .navbar-nav>.disabled>a,
.navbar-default .navbar-nav>.disabled>a:hover,
.navbar-default .navbar-nav>.disabled>a:focus{color:#fff;
background-color:transparent}.navbar-default .navbar-toggle{
border-color:transparent}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{background-color:#D74B4B}.navbar-default .navbar-toggle .icon-bar{background-color:#fff}.navbar-default .navbar-collapse,
.navbar-default .navbar-form
{
	border-color:#006ddb
}